<mat-toolbar color="accent">
  <h2> Gem All Gear </h2>
</mat-toolbar>

<div class="flex-grid" *ngIf="gems.data">
  <div class="flex-fill" style="max-width: 780px;">
    <div>
      Default all gem sockets to
      <mat-form-field class="small-form-field">
        <mat-select [typeaheadDebounceInterval]="1000" [(ngModel)]="gemAlterations.default">
          <mat-option *ngFor="let gem of gems.data" [value]="gem">{{gem.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      and meta socket to
      <mat-form-field class="small-form-field">
        <mat-select [typeaheadDebounceInterval]="1000" [(ngModel)]="gemAlterations.defaultMeta">
          <mat-option *ngFor="let gem of gems.data" [value]="gem">{{gem.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      .
    </div>
    <div>
      If armor socket bonus is
      <mat-form-field class="small-form-field">
        <mat-select [typeaheadDebounceInterval]="1000" [(ngModel)]="gemAlterationSetBonusOne">
          <mat-option *ngFor="let stat of allStats" [value]="stat">{{stat | humanize}}</mat-option>
        </mat-select>
      </mat-form-field>
      Then use
      <mat-form-field class="small-form-field">
        <mat-select [typeaheadDebounceInterval]="1000" [(ngModel)]="gemAlterations.logic[0].gem">
          <mat-option *ngFor="let gem of gems.data" [value]="gem">{{gem.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      for
      <mat-form-field class="small-form-field">
        <mat-select [typeaheadDebounceInterval]="1000" [(ngModel)]="gemAlterations.logic[0].socketColor">
          <mat-option *ngFor="let color of GemSocketColors" [value]="color">{{color}}</mat-option>
        </mat-select>
      </mat-form-field>
      or
      <mat-form-field class="small-form-field">
        <mat-select [typeaheadDebounceInterval]="1000" [(ngModel)]="gemAlterations.logic[1].gem">
          <mat-option *ngFor="let gem of gems.data" [value]="gem">{{gem.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      for
      <mat-form-field class="small-form-field">
        <mat-select [typeaheadDebounceInterval]="1000" [(ngModel)]="gemAlterations.logic[1].gem">
          <mat-option *ngFor="let color of GemSocketColors" [value]="color">{{color}}</mat-option>
        </mat-select>
      </mat-form-field>
      sockets.
    </div>
    <div>
      If armor socket bonus is
      <mat-form-field class="small-form-field">
        <mat-select [typeaheadDebounceInterval]="1000" [(ngModel)]="gemAlterationSetBonusTwo">
          <mat-option *ngFor="let stat of allStats" [value]="stat">{{stat | humanize}}</mat-option>
        </mat-select>
      </mat-form-field>
      Then use
      <mat-form-field class="small-form-field">
        <mat-select [typeaheadDebounceInterval]="1000" [(ngModel)]="gemAlterations.logic[2].gem">
          <mat-option *ngFor="let gem of gems.data" [value]="gem">{{gem.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      for
      <mat-form-field class="small-form-field">
        <mat-select [typeaheadDebounceInterval]="1000" [(ngModel)]="gemAlterations.logic[2].socketColor">
          <mat-option *ngFor="let color of GemSocketColors" [value]="color">{{color}}</mat-option>
        </mat-select>
      </mat-form-field>
      or
      <mat-form-field class="small-form-field">
        <mat-select [typeaheadDebounceInterval]="1000" [(ngModel)]="gemAlterations.logic[3].gem">
          <mat-option *ngFor="let gem of gems.data" [value]="gem">{{gem.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      for
      <mat-form-field class="small-form-field">
        <mat-select [typeaheadDebounceInterval]="1000" [(ngModel)]="gemAlterations.logic[3].socketColor">
          <mat-option *ngFor="let color of GemSocketColors" [value]="color">{{color}}</mat-option>
        </mat-select>
      </mat-form-field>
      sockets.
    </div>

    <button style="width: 90%" (click)="applyGemsToGear()" mat-raised-button color="primary">Apply</button>
  </div>
  <div class="flex-fill">
    <form [formGroup]="gemFilterForm">
      <div class="flex-grid" style="align-items: center; margin-top: 10px;">
        <div style="flex: 0.5;"> Filter: </div>
        <div style="flex: 1.5;">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </div>
        <div class="flex-fill">
          <mat-form-field>
            <mat-label>Color</mat-label>
            <mat-select [typeaheadDebounceInterval]="1000" formControlName="color">
              <mat-option value="">None</mat-option>
              <mat-option *ngFor="let color of gemColor" [value]="color">{{color | humanize | titlecase}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex-fill">
          <mat-form-field>
            <mat-label>Rarity</mat-label>
            <mat-select [typeaheadDebounceInterval]="1000" formControlName="rarity">
              <mat-option value="">None</mat-option>
              <mat-option *ngFor="let rarity of GemQuality" [value]="rarity">{{rarity | humanize | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex-fill">
          <mat-form-field>
            <mat-label>Stat</mat-label>
            <mat-select [typeaheadDebounceInterval]="1000" formControlName="stat">
              <mat-option value="">None</mat-option>
              <mat-option *ngFor="let stat of allStats" [value]="stat">{{stat | humanize | titlecase}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    <mat-table [dataSource]="gems" matSort class="max-table-height mat-elevation-z8">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let gem"> <span [ngClass]="getRarityClass(gem)">{{gem.name}}</span> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef>Color</mat-header-cell>
        <mat-cell *matCellDef="let gem"> {{gem.color}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="statOne">
        <mat-header-cell *matHeaderCellDef>Stat 1</mat-header-cell>
        <mat-cell *matCellDef="let gem"> {{getStat(gem, 0)[0] | humanize | titlecase}} <br /> {{getStat(gem, 0)[1] |
          humanize | titlecase}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="statTwo">
        <mat-header-cell *matHeaderCellDef>Stat 2</mat-header-cell>
        <mat-cell *matCellDef="let gem"> {{getStat(gem, 1)[0] | humanize | titlecase}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="anchor">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let gem"> <a attr.data-wowhead="item={{gem.id}}"></a> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="header-title-row">
        <mat-header-cell *matHeaderCellDef style="justify-content: center !important" attr.colspan="4">Gems
        </mat-header-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['header-title-row']; sticky: true"></mat-header-row>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>


<!-- <div>
  <h3>Gems</h3>
  <div *ngFor="let socket of item.gemSockets">
    <mat-form-field>
      <mat-select>
        <mat-option *ngIf="socket.color === GemSocketColor.meta">

        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <h3>Enchants</h3>
</div>


 -->


<!-- FORM TO ADD GEMS IS UNDER THIS COMMENT -->




<!-- <div>
  <form [formGroup]="addForm" (ngSubmit)="addGem()">
    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Color</mat-label>
        <mat-select formControlName="color">
          <mat-option *ngFor="let color of gemColor" [value]="color">{{color}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Quality</mat-label>
        <mat-select formControlName="quality">
          <mat-option *ngFor="let q of quality" [value]="q">{{q}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Attribute</mat-label>
        <mat-select formControlName="statOne">
          <mat-option *ngFor="let attr of attributes" [value]="attr">{{attr}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Value</mat-label>
        <input matInput formControlName="valueOne">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Attribute</mat-label>
        <mat-select formControlName="statTwo">
          <mat-option *ngFor="let attr of attributes" [value]="attr">{{attr}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Value</mat-label>
        <input matInput formControlName="valueTwo">
      </mat-form-field>
    </div>
    <button mat-raised-button color="accent">Submit</button>
  </form>
</div>
 -->
