<h1>Apply New Spec</h1>

<div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Instructions </mat-panel-title>
      </mat-expansion-panel-header>
      <ol>
        <li>Open <a target="_blank" href="https://tbcdb.com/talents/index.html?en&paladin">TBCDB's Talent Calculator</a>
        </li>
        <li>Fill in your desired spec</li>
        <li>Click "Link to this talents"</li>
        <li>Copy the URL with all the numbers into this window</li>
      </ol>
      <div>
        <img alt="picture of tbcdb talent calculator" src="assets/tbc-talent-example.png">
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div style="margin-top: 20px;">
  <form [formGroup] = "newSpecFormGroup" (ngSubmit)="apply(); false">
    <mat-form-field appearance="outline">
      <mat-label>TBCDB talents link</mat-label>
      <input matInput formControlName="newSpecURL"
        placeholder="https://tbcdb.com/talents/index.html?en&paladin&0000000000000000000000000000000000000000000000000000000000000000">
    </mat-form-field>
    <button mat-raised-button color="primary">Apply Spec</button>
  </form>
</div>
