<h1>Apply New Spec</h1>
<div class="current-spec-link">
  <a target="_blank" href="{{currentSpecUrl}}">Current Spec: {{spec.holyProtRetCount}}</a>
</div>
<div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Instructions </mat-panel-title>
      </mat-expansion-panel-header>
      <ol>
        <li>Open <a target="_blank" href="https://tbc.wowhead.com/talent-calc/paladin/">Wowhead's Talent Calculator</a>
        </li>
        <li>Fill in your desired spec</li>
        <li>Copy the URL with all the numbers into this window</li>
      </ol>
      <div>
        <img alt="picture of tbcdb talent calculator" src="assets/tbc-talent-example.png">
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div style="margin-top: 20px;">
  <form [formGroup] = "newSpecFormGroup" (ngSubmit)="apply(); false">
    <mat-form-field appearance="outline">
      <mat-label>Wowhead talents link</mat-label>
      <input matInput formControlName="newSpecURL"
        placeholder="https://tbc.wowhead.com/talent-calc/paladin/-0520513150002102521051-052050003023">
    </mat-form-field>
    <div class="flex-grid flex-space-between">
      <button mat-raised-button color="accent" (click)="cancel(); false;">Cancel</button>
      <button mat-raised-button color="primary">Apply Spec</button>
    </div>
  </form>
</div>
