.mat-column-valueType {
  flex: 2 !important;
  justify-content: space-between !important;
}
.mat-column-min {
  flex: 1 !important;
}
.mat-column-onePercentLow {
  flex: 1 !important;
}
.mat-column-fivePercentLow {
  flex: 1 !important;
}
.mat-column-average {
  flex: 1 !important;
}
.mat-column-max {
  flex: 1 !important;
}
