<div>
  <button mat-raised-button color="primary" (click)="start()">Start Sim</button>
</div>

<!-- BAR CHART -->
<div>
  <ngx-charts-bar-vertical-stacked *ngIf="simComplete" [view]="view" [customColors]="[
{
  name: 'Attack',
  value: '#E44D25'
},
{
  name: 'SoV Dot',
  value: '#D1B000'
}
]" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis"
    [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [schemeType]="schemeType"
    [results]="overallResultsBarChart | async">
  </ngx-charts-bar-vertical-stacked>
</div>


<div>
  <ngx-charts-line-chart *ngIf="simComplete" [view]="view" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel" [timeline]="timeline" [customColors]="[
    {
      name: 'Attack',
      value: '#E44D25'
    },
    {
      name: 'SoV Dot',
      value: '#D1B000'
    }
  ]" [results]="overallResultsLineChart | async">
    <ng-template #tooltipTemplate let-model="model">
      <p>{{model.series}}: {{model.value}}</p>
      <p>{{model.comment}}</p>
    </ng-template>
  </ngx-charts-line-chart>
</div>
