<div>
  <button mat-raised-button color="primary" (click)="start()">Start Sim</button>
</div>

<!-- BAR CHART -->
<div>
  <ngx-charts-bar-vertical-stacked *ngIf="simComplete" [view]="view" [customColors]="[
{
  name: 'Attack',
  value: '#E44D25'
},
{
  name: 'SoV Dot',
  value: '#D1B000'
},
{
  name: 'Holy Shield',
  value: '#AAE3F5'
},
]" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis"
    [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [schemeType]="schemeType"
    [results]="overallResultsBarChart | async">
    <ng-template #tooltipTemplate let-model="model">
      <p>{{model.name}}: {{model.value}}</p>
      <p>{{model.comment}}</p>
    </ng-template>
  </ngx-charts-bar-vertical-stacked>
</div>
