<div class="item-selection-table">
  <mat-table [dataSource]="dataSourceGearOptions" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let armor"> {{armor.name}} </mat-cell>
    </ng-container>
    <!-- STATS -->
    <ng-container matColumnDef="stats.{{ItemStatsEnum.stamina}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Stam</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.stamina)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.intellect}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Int</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.intellect)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.strength}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Str</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.strength)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.agility}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Agi</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.agility)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.spirit}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Spirit</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.spirit)}}</mat-cell>
    </ng-container>
    <!-- DEFENSE  -->
    <ng-container matColumnDef="stats.{{ItemStatsEnum.armor}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Armor</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.armor)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.defenseRating}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Defense <br /> Rating</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.defenseRating)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.dodgeRating}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Dodge <br /> Rating</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.dodgeRating)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.parryRating}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Parry <br /> Rating</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.parryRating)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.blockRating}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Block <br /> Rating</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.blockRating)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.blockValue}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Block <br /> Value</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.blockValue)}}</mat-cell>
    </ng-container>
    <!-- MELEE -->
    <ng-container matColumnDef="stats.{{ItemStatsEnum.meleeHitRating}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Hit <br /> Rating</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.meleeHitRating)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.meleeCritRating}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Crit <br /> Rating</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.meleeCritRating)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.expertiseRating}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Expertise <br /> Rating</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.expertiseRating)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.attackSpeed}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Attack Speed</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.attackSpeed)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.damageMin}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Min Damage</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.damageMin)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.damageMax}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Max Damage</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.damageMax)}}</mat-cell>
    </ng-container>
    <!-- Spell -->
    <ng-container matColumnDef="stats.{{ItemStatsEnum.spellHitRating}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Spell Hit <br /> Rating</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.spellHitRating)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.spellCritRating}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Spell Crit <br /> Rating</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.spellCritRating)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stats.{{ItemStatsEnum.spellDamage}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Spell <br /> Power</mat-header-cell>
      <mat-cell *matCellDef="let armor">{{getValueFromGear(armor, ItemStatsEnum.spellDamage)}}</mat-cell>
    </ng-container>
    <!-- LINK -->
    <ng-container matColumnDef="anchor">
      <mat-header-cell style="width: 0px;" *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let armor">
        <a class="clickable" [ngClass]="{'selected-item': character.gear[gearType]['_id'] === armor['_id']}"
          (click)="assignGear(armor)" attr.data-wowhead="item={{armor.id}}&domain=tbc"></a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
  <div>
    <div style="margin-top: 20px; margin-bottom: 20px; display: flex; justify-content: space-between;">
      <div></div>
      <div>
        <button (click)="addGearToList()" mat-raised-button color="accent">Add Gear Option to List</button>
      </div>
    </div>
  </div>
</div>
