<h2> Stats </h2>

<h3>General</h3>
<div class="flex-grid flex-space-between">
  <span>Spec</span>
  <span><a href="#" (click)="createNewSpec($event); false">{{character.spec.holyProtRetCount}}</a></span>
</div>
<div class="flex-grid flex-space-between">
  <span>Health</span>
  <span>{{character.totalHealth | number: '1.0-0'}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Mana</span>
  <span>{{character.totalMana | number: '1.0-0'}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>HP5</span>
  <span>0</span>
</div>

<h3>Attributes</h3>
<div class="flex-grid flex-space-between">
  <span>Strength</span>
  <span>{{character.getStatTotal(ItemStatsEnum.strength) | number: '1.0-0'}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Agility</span>
  <span>{{character.getStatTotal(ItemStatsEnum.agility)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Stamina</span>
  <span>{{character.getStatTotal(ItemStatsEnum.stamina) | number: '1.0-0'}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Intellect</span>
  <span>{{character.getStatTotal(ItemStatsEnum.intellect) | number: '1.0-0'}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Spirit</span>
  <span>{{character.getStatTotal(ItemStatsEnum.spirit)}}</span>
</div>

<h3>Defense</h3>
<div class="flex-grid flex-space-between">
  <span>Armor</span>
  <span>{{character.armor | number: '1.0-0'}}</span>
</div>
<div class="flex-grid flex-space-between">
  <div>Defense</div>
  <div>
    <span [ngClass]="{'warn-background': character.defense < 490}">{{character.defense | number: '1.0-0'}}</span>
    <mat-icon *ngIf="character.defense < 490" style="font-size: medium;"
      matTooltip="To be uncritible, you need to have 490 defense" matTooltipPosition="after">help
    </mat-icon>
  </div>
</div>
<div class="flex-grid flex-space-between">
  <span>Miss</span>
  <span>{{character.missChance | number:'1.2-2'}}%</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Dodge</span>
  <span>{{character.dodgeChance | number:'1.2-2' }}%</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Parry</span>
  <span>{{character.parry | number:'1.2-2'}}%</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Block</span>
  <span>{{character.blockChance | number:'1.2-2'}}%</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Block Value</span>
  <span>{{character.blockValue | number: '1.0-0'}}</span>
</div>
<div class="flex-grid flex-space-between">
  <div>Mitigation chance</div>
  <div>
    <span [ngClass]="{'warn-background': character.mitigationChance < 72.4}">
      {{character.mitigationChance | number: '1.2-2'}}%</span>
    <mat-icon *ngIf="character.mitigationChance < 72.4" style="font-size: medium;"
      matTooltip="To be uncrushable you must have 72.4% mitigation before holy shield" matTooltipPosition="after">help
    </mat-icon>
  </div>
</div>

<h3>Spell</h3>
<div class="flex-grid flex-space-between">
  <span>Spell Damage</span>
  <span>{{character.getStatTotal(ItemStatsEnum.spellDamage)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Spell Crit</span>
  <span>{{character.spellCrit | number:'1.2-2'}}%</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Spell Hit</span>
  <span>{{character.spellHit| number:'1.2-2'}}%</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Spell Pen</span>
  <span>{{character.getStatTotal(ItemStatsEnum.spellPen)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Healing</span>
  <span>{{character.getStatTotal(ItemStatsEnum.healing)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>MP5</span>
  <span>{{character.getStatTotal(ItemStatsEnum.mp5)}}</span>
</div>

<h3>Melee</h3>
<div class="flex-grid flex-space-between">
  <span>Attack Rating</span>
  <span>{{character.getStatTotal(ItemStatsEnum.attackRating)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Attack Power</span>
  <span>{{character.attackPower}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Damage</span>
  <span>{{character.weaponDamageMin}} - {{character.weaponDamageMax}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Attack Speed</span>
  <span>{{character.attackSpeed | number: '1.2-2'}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Melee Crit</span>
  <span>{{character.meleeCrit | number: '1.2-2'}}%</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Melee Hit</span>
  <span>{{character.hitChance | number: '1.2-2'}}%</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Melee Expertise</span>
  <span>{{character.expertise | number: '1.2-2'}}</span>
</div>
