<h2> Stats </h2>

<h3>General</h3>
<div class="flex-grid flex-space-between">
  <span>Spec</span>
  <span>0/0/0</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Health</span>
  <span>{{calculateHealth()}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Mana</span>
  <span>{{calculateMana()}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>HP5</span>
  <span>0</span>
</div>

<h3>Attributes</h3>
<div class="flex-grid flex-space-between">
  <span>Strength</span>
  <span>{{calculateTotalStats(ItemStatsEnum.strength)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Agility</span>
  <span>{{calculateTotalStats(ItemStatsEnum.agility)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Stamina</span>
  <span>{{calculateTotalStats(ItemStatsEnum.stamina)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Intellect</span>
  <span>{{calculateTotalStats(ItemStatsEnum.intellect)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Spirit</span>
  <span>{{calculateTotalStats(ItemStatsEnum.spirit)}}</span>
</div>

<h3>Defense</h3>
<div class="flex-grid flex-space-between">
  <span>Armor</span>
  <span>{{calculateArmor()}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Defense</span>
  <span>{{calculateTotalStats(ItemStatsEnum.defense)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Miss</span>
  <span>{{calculateTotalStats(ItemStatsEnum.miss) | number:'1.2-2'}}%</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Dodge</span>
  <span>{{calculateDodgeChance() | number:'1.2-2' }}%</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Parry</span>
  <span>{{calculateParry() | number:'1.2-2'}}%</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Block</span>
  <span>{{calculateBlock() | number:'1.2-2'}}%</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Block Value</span>
  <span>{{calculateBlockValue() | number: '1.0-0'}}</span>
</div>

<h3>Spell</h3>
<div class="flex-grid flex-space-between">
  <span>Spell Damage</span>
  <span>{{calculateTotalStats(ItemStatsEnum.spellDamage)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Spell Crit</span>
  <span>{{calculateSpellCrit()| number:'1.2-2'}}%</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Spell Hit</span>
  <span>{{calculateTotalStats(ItemStatsEnum.spellHit)| number:'1.2-2'}}%</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Spell Pen</span>
  <span>{{calculateTotalStats(ItemStatsEnum.spellPen)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Healing</span>
  <span>{{calculateTotalStats(ItemStatsEnum.healing)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>MP5</span>
  <span>{{calculateTotalStats(ItemStatsEnum.mp5)}}</span>
</div>

<h3>Melee</h3>
<div class="flex-grid flex-space-between">
  <span>Attack Rating</span>
  <span>{{calculateTotalStats(ItemStatsEnum.attackRating)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Attack Power</span>
  <span>{{calculateAttackPower()}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Damage</span>
  <span>{{calculateTotalStats(ItemStatsEnum.damage)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Melee Crit</span>
  <span>{{calculateCrit()}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Melee Hit</span>
  <span>{{calculateTotalStats(ItemStatsEnum.meleeHit)}}</span>
</div>
<div class="flex-grid flex-space-between">
  <span>Melee Expertise</span>
  <span>{{calculateTotalStats(ItemStatsEnum.meleeExpertise)}}</span>
</div>
