<div>
  <mat-form-field style="margin-top: 30px;" appearence="outline">
    <mat-label>Character Race</mat-label>
    <mat-select #raceSelect (selectionChange)="raceChange($event)" [value]="currentRaceValue">
      <mat-option *ngFor="let race of RaceValues" [value]="race">{{race | humanize}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="character-panel">
  <app-character-item-display *ngFor="let slot of GearSlotKeys" class="icon" [ngClass]="slot" [item]="character.gear[slot]"
    [backgroundUrl]="getItemIcon(character.gear[slot].id)">
  </app-character-item-display>
</div>
