@import "globalVars";

.character-panel {
  background-image: url($css-base-path + "/assets/character-panel.png");
  // background-position: center;
  background-repeat: no-repeat;
  height: 650px;
  width: 500px;
}

.icon {
  position: relative;
  width: 50px;
  height: 50px;
}

.head {
  left: 15px;
  top: 98px;
}
.neck {
  left: 15px;
  top: 156px;
}
.shoulder {
  left: 15px;
  top: 214px;
}
.back {
  left: 15px;
  top: 272px;
}
.chest {
  left: 15px;
  top: 329px;
}
.wrist {
  left: 15px;
  top: 502px;
}

.hands {
  left: 415px;
  top: 98px;
}
.waist {
  left: 415px;
  top: 156px;
}
.legs {
  left: 415px;
  top: 214px;
}
.feet {
  left: 415px;
  top: 272px;
}
.fingerOne {
  left: 415px;
  top: 329px;
}
.fingerTwo {
  left: 415px;
  top: 387px;
}
.trinketOne {
  left: 415px;
  top: 445px;
}
.trinketTwo {
  left: 415px;
  top: 502px;
}

.mainHand {
  left: 156px;
  top: 537px;
}
.offHand {
  left: 216px;
  top: 537px;
}
.relic {
  left: 276px;
  top: 537px;
}
