<h1 mat-dialog-title>Add New Gear</h1>
<div mat-dialog-content>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Instructions </mat-panel-title>
      </mat-expansion-panel-header>
      <ol>
        <li>Search for your item on wowhead</li>
        <li>Copy the URL</li>
        <img src="assets/item-number-example.png">
        <li>Paste it into the "Item Number" field below</li>
        <li>Add any gems or socket bonuses to the item</li>
        <li>Submit</li>
      </ol>
    </mat-expansion-panel>
  </mat-accordion>
  <form [formGroup]="createItemFormGroup">
    <div>
      <mat-form-field>
        <mat-label>Item Number</mat-label>
        <input formControlName="itemNumber" matInput placeholder="https://tbc.wowhead.com/item=29185/continuum-blade">
      </mat-form-field>
    </div>
  </form>
  <div>
    <h3>Gem Sockets</h3>
    <div>
      <ul>
        <li class="flex-grid flex-space-between" *ngFor="let socket of item.gemSockets; let i = index;">
          <span>{{socket.color}}</span>
          <span><button mat-raised-button color="warn" (click)="removeGemSocket(i)">Remove</button></span>
        </li>
      </ul>
    </div>
    <form class="flex-grid flex-space-between" [formGroup]="addGemSocketFormGroup"
      (ngSubmit)="addGemSocket($event); false">
      <mat-form-field style="margin-right: 12px">
        <mat-label>Socket Color</mat-label>
        <mat-select formControlName="gemSocketColorToAdd">
          <mat-option *ngFor="let color of GemSocketColors" [value]="color">{{color}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="accent">Add</button>
    </form>
    <h3>Socket Bonus</h3>
    <form [formGroup]="addGemSocketBonusFormGroup">
      <div class="flex-grid">
        <mat-form-field class="small-form-field">
          <mat-label>Attribute</mat-label>
          <mat-select formControlName="attributeName">
            <mat-option *ngFor="let key of attributeList" [value]="key">{{key | humanize}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="padding-left: 10px;" class="small-form-field">
          <mat-label>Value</mat-label>
          <input formControlName="attributeValue" matInput placeholder="0">
        </mat-form-field>
      </div>
    </form>
  </div>


  <div mat-dialog-actions class="flex-grid flex-space-between">
    <button mat-raised-button color="accent" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="createItem()" cdkFocusInitial>Add Gear</button>
  </div>
</div>
