@import "src/styles_variables.scss";
@import "~@angular/material/theming";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 99%;
}
body {
  margin: 10;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-theme {
  $dark-primary: mat-palette($mat-pink);
  $dark-accent: mat-palette($mat-blue-gray);
  $dark-warn: mat-palette($mat-deep-orange);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

.flex-grid {
  display: flex;
  width: 100%;
}

.flex-space-between {
  justify-content: space-between;
}



a {
  color: $primary;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: $accent;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: $warn;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: $accent;
  background-color: transparent;
  text-decoration: underline;
}

h2,
h1 {
  text-align: center;
  width: 100%;
}

.mat-tab-label {
  min-width: 110px !important;
}

.flex-fill {
  flex: 1;
}

.padding-left-sm {
  padding-left: 10px;
}

.poor-text {
  color: #9d9d9d
}
.common-text {
  color: #ffffff
}
.uncommon-text {
  color: #1eff00
}
.rare-text {
  color: #0070dd
}
.epic-text {
  color: #a335ee
}
.legendary-text {
  color: #ff8000
}
.artifact-text {
  color: #e6cc80
}
.heirloom-text {
  color: #00ccff
}
.wow-token-text {
  color: #00ccff
}

.clickable {
  cursor: pointer;
}

.small-form-field {
  width: 200px !important;
}

.default-pointer {
  cursor: default;
}

.full-width {
  width: 100%
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
